<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>SpiderShow</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/baseStyle.css">
    <style>
        nav {
            margin: 0 auto 30px auto;
            color: #f46d3e;
            text-align: center;
            letter-spacing: 2px;
            box-shadow: 0 2px 3px #c5c5c5;
        }
    </style>
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light" id="app">
        <h3>QQ音乐歌单歌曲信息</h3>
    </nav>
    <div class="container">
        {{ table }}
    </div>
</body>
</html>